# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Студенты/
.vs/mp2-lab3-postfix/v16/.suo
.vs/mp2-lab3-postfix/v16/Browse.VC.db
.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/2236707cd6569550/TEST_TPOSTFIX.ipch
.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/5103f29167e5d3a4/SAMPLE_POSTFIX.ipch
.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/72b25f65d2d24401/TEST_TSTACK.ipch
.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/c0772a88ab757bc4/POSTFIX.ipch
.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/cf7e1ae16b7be2c5/POSTFIX.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Сысоев/mp2-lab3-postfix.sln
Сысоев/gtest/gtest.vcxproj
Сысоев/gtest/gtest.h
Сысоев/gtest/gtest-all.cc
Сысоев/gtest/CMakeLists.txt
Сысоев/CMakeLists.txt
Сысоев/base_test/test_tstack.cpp
Сысоев/base_test/test_tpostfix.cpp
Сысоев/base_test/test_main.cpp
Сысоев/base_test/CMakeLists.txt
Сысоев/base_test/base_test.vcxproj.filters
Сысоев/base_test/base_test.vcxproj
Сысоев/base/stack.h
Сысоев/base/sample_postfix.cpp
Сысоев/base/postfix.h
Сысоев/base/postfix.cpp
Сысоев/base/CMakeLists.txt
Сысоев/base/base.vcxproj.filters
Сысоев/base/base.vcxproj
