# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Студенты/
.vs/mp2-lab3-postfix/v16/.suo
.vs/mp2-lab3-postfix/v16/Browse.VC.db
.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/2236707cd6569550/TEST_TPOSTFIX.ipch
.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/5103f29167e5d3a4/SAMPLE_POSTFIX.ipch
.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/72b25f65d2d24401/TEST_TSTACK.ipch
.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/c0772a88ab757bc4/POSTFIX.ipch
.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/cf7e1ae16b7be2c5/POSTFIX.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Сысоев/mp2-lab3-postfix.sln
Сысоев/gtest/gtest.vcxproj
Сысоев/gtest/gtest.h
Сысоев/gtest/gtest-all.cc
Сысоев/gtest/CMakeLists.txt
Сысоев/CMakeLists.txt
Сысоев/base_test/test_tstack.cpp
Сысоев/base_test/test_tpostfix.cpp
Сысоев/base_test/test_main.cpp
Сысоев/base_test/CMakeLists.txt
Сысоев/base_test/base_test.vcxproj.filters
Сысоев/base_test/base_test.vcxproj
Сысоев/base/stack.h
Сысоев/base/sample_postfix.cpp
Сысоев/base/postfix.h
Сысоев/base/postfix.cpp
Сысоев/base/CMakeLists.txt
Сысоев/base/base.vcxproj.filters
Сысоев/base/base.vcxproj
Сысоев/out/build/x64-Debug/VSInheritEnvironments.txt
Сысоев/out/build/x64-Debug/Testing/Temporary/LastTest.log
Сысоев/out/build/x64-Debug/rules.ninja
Сысоев/out/build/x64-Debug/gtest/cmake_install.cmake
Сысоев/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
Сысоев/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
Сысоев/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
Сысоев/out/build/x64-Debug/CMakeFiles/feature_tests.cxx
Сысоев/out/build/x64-Debug/CMakeFiles/feature_tests.c
Сысоев/out/build/x64-Debug/CMakeFiles/feature_tests.bin
Сысоев/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
Сысоев/out/build/x64-Debug/CMakeFiles/cmake.check_cache
Сысоев/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Сысоев/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CompilerIdC/CMakeCCompilerId.c
Сысоев/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CMakeSystem.cmake
Сысоев/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CMakeRCCompiler.cmake
Сысоев/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
Сысоев/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CMakeDetermineCompilerABI_C.bin
Сысоев/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CMakeCXXCompiler.cmake
Сысоев/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CMakeCCompiler.cmake
Сысоев/out/build/x64-Debug/CMakeCache.txt
Сысоев/out/build/x64-Debug/cmake_install.cmake
Сысоев/out/build/x64-Debug/build.ninja
Сысоев/out/build/x64-Debug/base_test/cmake_install.cmake
Сысоев/out/build/x64-Debug/base/cmake_install.cmake
Сысоев/out/build/x64-Debug/.cmake/api/v1/reply/target-postfix_test-Debug-3f4092ea658ea82f8695.json
Сысоев/out/build/x64-Debug/.cmake/api/v1/reply/target-postfix-Debug-d674db701a9b937ec20e.json
Сысоев/out/build/x64-Debug/.cmake/api/v1/reply/target-gtest-Debug-caeaca29298c506aa2da.json
Сысоев/out/build/x64-Debug/.cmake/api/v1/reply/index-2019-10-13T17-26-17-0355.json
Сысоев/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-60e8b22b59628a744e43.json
Сысоев/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-0da0cac4e50cec13b56c.json
Сысоев/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-82697fb5dccba9fb2c23.json
Сысоев/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/12272ada5c06aac5/POSTFIX.ipch
.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/8fe370ebf1722784/POSTFIX.ipch
.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/c001da1e628b1a41/TEST_TSTACK.ipch
/.vs/mp2-lab3-postfix/v15/ipch/AutoPCH/a1f4eeefbfe5546c/POSTFIX.ipch
/.vs/mp2-lab3-postfix/v15/.suo
/.vs/mp2-lab3-postfix/v15/Browse.VC.db
/.vs/mp2-lab3-postfix/v15/Browse.VC.opendb
/.vs/mp2-lab3-postfix/v15/ipch/AutoPCH/787fc1dbc8ef52d5/POSTFIX.ipch
Злобин/base_test/base_test.vcxproj.user
Злобин/base_test/base_test.vcxproj
Злобин/gtest/gtest.vcxproj
Злобин/gtest/gtest.vcxproj.user
Злобин/gtest/gtest.vcxproj
*.vcxproj
Злобин/base_test/base_test.vcxproj
Злобин/base/base.vcxproj.user
Злобин/base/base.vcxproj
Злобин/.vs/mp2-lab3-postfix/v16/Solution.VC.db
Злобин/.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/bab1bdfd3604621a/POSTFIX.ipch
Злобин/.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/adf0d44a53330e73/SAMPLE_POSTFIX.ipch
Злобин/.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/50f47c7e3e541c86/TEST_TPOSTFIX.ipch
Злобин/.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/4f216ec796a74f37/GTEST-ALL.ipch
Злобин/.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/3a443902fac63866/TEST_MAIN.ipch
Злобин/.vs/mp2-lab3-postfix/v16/Browse.VC.db
Злобин/.vs/mp2-lab3-postfix/v16/.suo
.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/2f9a9dc4c39d5ba4/SAMPLE_POSTFIX.ipch
Злобин/base/base.vcxproj
